body {
    margin: 0;
    background: #DEEBFB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* .menu {
    width: 185px;
}

.menu__list {
    padding: 0;
} */

/* .menu__item {
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 45px;
}

.menu__item:last-child {
    margin-bottom: 0;
} */

/* .menu__item--active {
    background: #FF5454;
} */

/* .menu__item--active .menu__icon {
    background: #DF4545;
} */

/* .menu__item--active .menu__icon:before {
    background: #fff;
} */

/* .menu__item--active .menu__title {
    color: #fff;
} */

/* .menu__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px;
    background: #ffffff;
    border-radius: 15px;
    margin-right: 45px;
} */

/* .menu__icon:before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    background: black;
} */

/* .menu__title {} */