body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  font-size: 18px;
  width: 250px;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.button {
  align-self: center;
  width: 100px;
  margin-top: 15px;
  padding: 6px 16px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: rgb(52, 182, 110);
  box-shadow: 2px 2px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  cursor: pointer;
}

.error_text {
  position: absolute;
  font-size: 16px;
  top: 25px;
  color: #f00;
}

.square {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: #ffffff;
  text-align: center;
  margin: 30px;
}

.videoplayer {
  width: 400px;  
}

.video {
  border: 2px solid blue;
  width: 400px;
}

.video-btns {
  display: flex;
  justify-content: space-around;
}

.timer {
  text-align: center;
  font-size: 20px;
}
