body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  padding: 25px 50px;
  font-weight: 500;
  box-shadow: 2px 4px 8px rgb(157, 157, 194);
}

.back-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main_page_content {
  margin-top: 100px;
  text-align: center;
  font-size: 36px;
}

.task_container {
  margin: 0 auto;
  text-align: center;
}

.user_info {
  line-height: 12px;
}

.album {
  padding: 15px;
  margin: 15px auto;
  width: 500px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgb(157, 157, 194);
}

.button {
  padding: 5px 16px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: rgb(52, 182, 110);
  box-shadow: 2px 2px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  cursor: pointer;
}

.like_btn {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.like_btn:hover {
  cursor: pointer;
}

.like_btn_text {
  margin-left: 10px;
  font-weight: bold;
}

.task_3_title, 
.task_3_subtitle {
  text-align: center;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.product_card {
  text-align: center;
  padding: 20px;
  width: 400px;
  height: 400px;
  box-shadow: 2px 4px 8px rgb(157, 157, 194);
  border-radius: 5px;
}

/* 
.product_card:hover {
  box-shadow: 4px 6px 6px 2px rgb(148, 212, 148);
  transform: translate(2px, 2px)
} */

.product_img_container {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_title {
  margin: 0;
}

.product_description {
  margin: 0;
  height: 160px;
  overflow: hidden;
}

.tooltip {
  position: fixed;
  width: 250px;
  height: auto;
  background-color: #b8d6b2;
}

.tooltip_title {
  margin: 10px;
}

.tooltip_option {
  margin: 8px;
}