.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  margin: 20px;
}

.header-link {
  margin-right: 20px;
  text-decoration: none;
  color:darkblue;
}

.current_page {
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  color:rgb(255, 255, 255);
}

.page-blue {
  background-color: blue;
}

.page-green {
  background-color: green;
}

.page-red {
  background-color: red;
}

.page-blueviolet {
  background-color: blueviolet;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
