* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task_container {
  max-width: 1200px;
  margin: 0 auto;
}

.themetitle {
  margin: 0;
  font-style: italic;
}

.forms_container {
  display: grid;
  grid-template-columns: repeat(2fr 2fr);
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 25px;
}

.form-header {
  text-align: center;
}

.input {
  margin-bottom: 25px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.errormsg {
  position: absolute;
  font-size: 14px;
  color: red;
  top: 75px;
  left: 5px
}

.button {
  align-self: center;
  padding: 6px 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(52, 182, 110);
  box-shadow: 2px 2px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  cursor: pointer;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  max-width: 600px;
}

.film-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.film-title {
  color: rgb(14, 112, 22);
  font-weight: 800;
}

.film-time {
  color: rgb(24, 14, 112);
  font-weight: 500;
  font-size: 16px;
}